<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header><h1 style="text-align: center">Django Docker Container</h1></header>
    <main>
        <p>Welcome to this Docker container. This container utilises a number of technologies, these include:</p>
        <ul>
            <li>Ubuntu</li>
            <li>Nginx</li>
            <li>Python</li>
            <li>wsgi</li>
            <li>Django</li>
        </ul>
        <p>The container comes with this simple test site automatically. Clearly you have worked out how to start the
        container. You may however be wondering how you can manage and start testing your own Django web apps.</p>
        <h2 style="text-align: center">Importing Your Own Django App</h2>
        <p>There are numerous methods of adding your content into the container but first it is important to understand
            the expected layout.</p>
        <ul>
            <li>/var/www - This is where the root of your app should be.</li>
            <li>/var/www/static - This folder should contain static files such as images and css files.</li>
            <li>/var/www/media - This folder should contain media files such as videos.</li>
        </ul>
        <p>The following command will map the specified paths to those mentioned above. The advantage of mapping volumes
        in this manner is that you can edit files and they will reflect immediately</p>
        <pre style="background-color: lightgray">
            docker run -itd -v c:/path/to/app /var/www
                            -v c:/path/to/static /var/www/static
                            -v c:/path/to/media /var/www/media
                            -p 8080:80
                            django petermcd/django-uwsgi-nginx
        </pre>
        <p>After mounting the volumes you will need to carry out 1 further modification. You will be required to edit
        start.sh to point wsgi to point to the correct project.</p>
    </main>
    <footer style="text-align: center">&copy; {{ year }} <a href="https://petermcdonald.co.uk">Peter McDonald</a></footer>
</div>
</body>
</html>